{{ define "main" }}
<a href="/cv">My CV</a>

<p>
  Hi, I'm Kat! I work as a DevOps Engineer.
</p>

<p>
  I can be reached via email at <a href="mailto:kat@inskip.me">kat@inskip.me</a>.<br>
    I also support email encryption with PGP using <a href="/pubkey.asc">this public key</a>.<br>
    Key ID: <code>rsa4096/0xE8DDE3ED1C90F3A0</code>
</p>

<h2>Current Projects</h2>

<ul>
  <li><a href="https://github.com/kittywitch/kittywitch">kittywitch</a>, a WIP replacement for nixfiles and so much more</li>
  <li><a href="https://github.com/kittywitch/nixfiles">nixfiles</a>, two years of accumulated Nix + Terraform being slowly phased out</li>
</ul>

<h2>Neat Things</h2>

<ul>
  <li><a href="https://github.com/kittywitch/tree">tree</a>, an import helper for working with Nix</li>
</ul>
{{ end }}
